<div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> results matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list">
            <li>
                <span class="category" style="color: lightgray;">Category Name</span>
                <span class="tag" style="color: lightgray;">Tag Name</span>
                <img src="image.jpg" style="max-width: 100%; height: auto;" alt="Image Description">
            </li>
        </ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>