<div class="book-summary">
    <nav role="navigation">
        <div id="book-search-input" role="search">
            <input type="text" placeholder="Type to search" />
        </div>
        <div id="book-search-input-link" role="search">
            <a href="{{site.baseurl}}/assets/search.html">Click to Search</a>
        </div>
        <ul class="summary">
            {% if page.url == "/index.html" or page.url == "/" %}
            <li class="chapter active" data-level="1.1" data-path="{{site.baseurl}}">
            {% else %}
            <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}">
            {% endif %}
                <a href="{{site.baseurl}}/">
                    {{ site.title | escape }}
                </a>
            </li>

            <li class="divider"></li>

            {% comment %} 모든 폴더 수집 {% endcomment %}
            {% assign all_folders = "" | split: "" %}
            {% for collection in site.collections %}
                {% if collection.output %}
                    {% assign reversed_posts = site[collection.label] | reverse %}
                    {% for post in reversed_posts %}
                        {% assign folder_path = post.path | split: "/" %}
                        {% if folder_path.size > 2 %}
                            {% assign folder = folder_path[1] %}
                            {% assign all_folders = all_folders | push: folder %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
            {% assign unique_folders = all_folders | uniq | sort %}

            {% comment %} 폴더별로 포스트 표시 {% endcomment %}
            {% for folder in unique_folders %}
                <li class="chapter">
                    <a class="folder-toggle" href="#" data-folder="{{ folder }}">
                        <i class="fa fa-angle-right"></i> {{ folder }}
                    </a>
                    <ul class="folder-posts" id="folder-{{ folder }}" style="display: none;">
                        {% for collection in site.collections %}
                            {% if collection.output %}
                                {% assign reversed_posts = site[collection.label] | reverse %}
                                {% for post in reversed_posts %}
                                    {% assign post_folder_path = post.path | split: "/" %}
                                    {% if post_folder_path.size > 2 and post_folder_path[1] == folder %}
                                        {% if page.url == post.url %}
                                        <li class="chapter active" data-level="1.2" data-path="{{site.baseurl}}{{post.url}}">
                                        {% else %}
                                        <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}{{post.url}}">
                                        {% endif %}
                                            <a href="{{site.baseurl}}{{post.url}}">
                                                {{ post.title | escape }}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}

            <li class="divider"></li>

            <li>
                <a href="https://github.com/sighingnow/jekyll-gitbook/fork" target="blank" class="gitbook-link">
                    Fork it Now!
                </a>
            </li>
        </ul>
    </nav>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var toggles = document.getElementsByClassName('folder-toggle');
    
    for (var i = 0; i < toggles.length; i++) {
        toggles[i].addEventListener('click', function(e) {
            e.preventDefault();
            var folder = this.getAttribute('data-folder');
            var postsList = document.getElementById('folder-' + folder);
            var icon = this.querySelector('i');
            
            if (postsList.style.display === 'none') {
                postsList.style.display = 'block';
                icon.className = 'fa fa-angle-down';
            } else {
                postsList.style.display = 'none';
                icon.className = 'fa fa-angle-right';
            }
        });
    }
});
</script>
